.contenedor-datos {
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    
}

.intro-datos {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    justify-self: center;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    text-align: center;
    margin-top: 1%;
}

.intro-datos p {
    line-height: 1.8;
    margin-bottom: 30px;
    max-width: 100%;
}

.filtros {
    padding: 30px;
    padding-top: 0px;
    border-radius: 10px;
    width: 48%;
    float: left;
}

.form_estilo {
    justify-self: center;
    width: 50%;
    background-color: lightblue;
    border-radius: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.filtros h2 {
    margin-bottom: 20px;
    text-align: center;
}

.filtros form {
    justify-self: center;
    gap: 25px;
}

.filtros label {
    font-weight: bold;
    margin-right: 10px;
}

.filtros select, .filtros button {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.filtros button {
    background-color: #0077cc;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 150px;
}

.filtros button:hover {
    background-color: #005fa3;
}


.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 2%;
}



.graficos {
    padding-left: 20px;
    padding-right: 20px;
    width: 48%;
    float: left;
}

.grafico-placeholder {
    background-color: #e6e6e6;
    border: 3px dashed #aaa;
    padding: 50px;
    text-align: center;
    font-style: italic;
    color: #555;
    margin-bottom: 40px;
    border-radius: 12px;
}
