.contenedor-datos {
    padding: 10px;
    max-width: 100%;
    margin: 0 auto;
    
}

.intro-datos {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    justify-self: center;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    text-align: center;
    margin-top: 1%;
}

.intro-datos p {
    line-height: 1.8;
    margin-bottom: 30px;
    max-width: 100%;
}

.main-flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 70px; /* Más separación entre filtros y gráficos */
    width: 100%;
    margin-top: 40px;
}

.filtros {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px; /* Ancho fijo para centrar y dar espacio a los títulos */
    padding: 0;
    float: none;
    background: none;
    border-radius: 0;
}

.form_estilo {
    width: 100%;
    background-color: lightblue;
    border-radius: 5%;
    padding: 32px 24px 32px 24px;
    margin-bottom: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}

.filtros h2 {
    margin-bottom: 20px;
    text-align: center;
    word-break: break-word;
    white-space: normal;
    font-size: 1.2em;
    max-width: 100%;
}

.filtros form {
    justify-self: center;
    gap: 25px;
}

.filtros label {
    font-weight: bold;
    margin-right: 10px;
}

.filtros select, .filtros button {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.filtros button {
    background-color: #0077cc;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 150px;
}

.filtros button:hover {
    background-color: #005fa3;
}


.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 2%;
}



.graficos {
    width: 600px;
    float: none;
    padding: 0;
}

.grafico-placeholder {
    background-color: #e6e6e6;
    border: 3px dashed #aaa;
    padding: 50px;
    text-align: center;
    font-style: italic;
    color: #555;
    margin-bottom: 40px;
    border-radius: 12px;
}
