.goog-te-banner-frame, 
.goog-te-banner, 
.skiptranslate, 
.goog-te-gadget, 
.goog-te-combo, 
.goog-te-footer, 
.goog-tooltip {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
    opacity: 0 !important;
    visibility: hidden !important;
    pointer-events: none !important;
}

body {
    top: 0 !important;
    position: static !important;
}